html {
	height: 100%;
}
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
.page, .bg {
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.bg2 {
	left: 100%;
}
.maintext {
	color: white;
	font-size: 8vw;
	-webkit-text-shadow: 0px 0px 15px #5386c4;
	-moz-text-shadow: 0px 0px 15px #5386c4;
	text-shadow: 0px 0px 15px #5386c4;
    -webkit-transition: text-shadow 1s;
    -moz-transition: text-shadow 1s;
    -ms-transition: text-shadow 1s;
    -o-transition: text-shadow 1s;
    transition: text-shadow 1s;
}
.pane {
	height: 50%;
	display: flex;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	overflow: hidden;
}
.page.static {
	z-index: 1;
}
#templates {
	display: none;
}
.navbtn {
	z-index: 2;
}
button.navbtn:hover, button.navbtn.hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 1);
/*	border: 1px solid rgba(255, 255, 255, 1);
*/}
button.navbtn {
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.25rem;
/*	border: 1px solid rgba(255, 255, 255, 0.75);
*/	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: absolute;
}
button.navbtn.down {
	bottom: 10px;
	left: 50%;
	margin-left: -25px;
}
button.navbtn.up {
	top: 10px;
	left: 50%;
	margin-left: -25px;
	transform: rotate(180deg);
}
button.navbtn.left {
	left: 10px;
	top: 50%;
	margin-top: -25px;
	transform: rotate(90deg);
}
button.navbtn.right {
	right: 10px;
	top: 50%;
	margin-top: -25px;
	transform: rotate(270deg);
}
div.navbtn.down {
	width: 80%;
    bottom: 0;
    left: 10%;
    position: absolute;
    height: 75px;
    cursor: pointer;
}
div.navbtn.up {
	width: 80%;
    top: 0;
    left: 10%;
    position: absolute;
    height: 75px;
    cursor: pointer;
}
div.navbtn.left {
	height: 80%;
    left: 0;
    top: 10%;
    position: absolute;
    width: 75px;
    cursor: pointer;
}
div.navbtn.right {
	height: 80%;
    right: 0;
    top: 10%;
    position: absolute;
    width: 75px;
    cursor: pointer;
}
.navbtn.up {
	display: none;
	opacity: 0;
}
